@import ../../styles/common

.header
    padding: 10px 0
    height: 40px
    position: sticky
    +theme(color, lightText)
    +theme(background-color, mainBg)
    display: flex
    z-index: 100
    border-bottom: 1px solid #757275

.sticky_header
    width: 100%
    position: fixed
    top: 0
    left: 0

.buttonsContainer
    display: flex
    flex-direction: column
    align-items: center
    position: fixed
    right: 50px
    top: 110px

