@import src/styles/common

.root
  padding-bottom: 60px

.page
  border-radius: 8px
  +theme(box-shadow, boxShadow)
  +theme(background-color, mainBg)
  height: 90vh

.title
  margin-top: 20px
  font-weight: 500
